@media screen and (max-with : 767px) {
  
}
.bold-text {
    font-weight: bold;
  }

  .hover-professionnel:hover{
    color:  #659a9a !important;
  }
.first-menu-item-gazoil {
  background-color: initial !important;
}


.menu-item-livraison {
  background-color: initial !important;
}

.menu-item-nettoyage-domicile {
  background-color: initial !important;
}

.menu-item-actualiteasf {
  background-color: initial !important;
}

.menu-item-presentation-groupe {
  background-color: initial !important;
}